@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4C1ECD;
  --secondary-color: #1a1a1a;
  --tertiary-color: #ffffff;
  --accent-color: #ff6b6b;
  --text-color: #ffffff;
}

body {
  font-family: var(--font-myFont), sans-serif;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(135deg, #1D93B5, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    line-height: 1.2;
    padding-bottom: 0.1em;
  }

  .btn-gradient {
    background: linear-gradient(135deg, #1D93B5, var(--primary-color));
    color: var(--tertiary-color);
    transition:
      transform 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
  }
  .btn-gradient:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .btn-elevate:hover {
    transform: translateY(-1.5px);
  }

  .card {
    border: 3px solid var(--primary-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-text {
  background: linear-gradient(90deg, #00ff9d, #00ccff, #00ff9d);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  animation: shine 3s linear infinite;
  display: inline-block;
}
